.universityProfile-parent-box{
  position: relative;
  display: flex;
  height: 100vh;
  overflow-y: auto;
  flex-direction: column;
  padding-bottom: 7rem;
}

.searching-title{
    margin-left: 20px;
    font-size: 22px;
}
.universityProfile-line{
    width: 76%;
    height: 0.8px;
    background-color: #6C757D;
    text-align: center;
    margin: 2rem auto;
}

.searching-box{
    position: relative;
}

.universityProfile-box{
display: flex;
flex-direction: row;
align-items: self-start;
justify-content: center;
gap: 1rem;
border-radius: 0.75rem;
max-width: 600px;
margin: 1rem auto 1.2rem auto;
}

.universityImgProfile{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    aspect-ratio: auto 3 / 4;
    background: black;
}

.universityProfile-left{
    width: 130px;
    height: 150px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.uni-rate-btn {
    background: #0074E4;
    border: none;
    color: #ffffff;
    border-radius: 20px;
    width: 63px;
    height: 27px;
    margin-top: 24px;
}
.university-fields {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.phone-university {
    margin-top: 12px;
}


/* list of searching */

/* Container for all groups */
.grouped-doctor-list {
  padding: 1rem;
  max-width: 800px;
}

/* Group letter heading (A, B, C...) */
.group-letter {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-left: 4px solid #3b82f6;
    padding-left: 0.5rem;
}

/* Container for doctors under a letter */
.doctor-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.doctor-container{
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}

/* Doctor name */
.doctor-name {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0;
  color: #222;
}
.doctor--image{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
/* Underline */
.underline {
  margin-top: 1rem;
  height: 1px;
  background:#6C757D;
  width: 100%;
}


@media (max-width: 600px) {
  .group-letter {
    font-size: 1.25rem;
  }

  .doctor-name {
    font-size: 1rem;
  }

  .doctor-card {
    padding: 0.6rem;
  }
}
