.register-form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    height: 100vh;
    position: relative;
    overflow: hidden;

}


.big-circle {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #0074E4;
  border-radius: 50%;
  top: -410px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.top-circle{
  position: absolute;
  width: 398px;
  height: 398px;
  background-color: #80B9F1;
  border-radius: 50%;
  top: -295px;
  transform: translateX(-40%);
  z-index: 3;
}

.down-circle{
  position: absolute;
  width: 398px;
  height: 398px;
  background-color: #E5F1FC;
  border-radius: 50%;
  top: -18px;
  transform: translateX(60%);
  z-index: 0;
}


.register-inputsLogin {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 420px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 0.2rem;
    transform: translateY(70px);
    height: 50vh;

  }




.singin-input-label{
 position: absolute;
  left: 14px;
  top: 20px;
  color: #80B9F1;
  text-indent: 999;
}


.input-group.filled .singin-input-label,
.input-group input:focus + .singin-input-label {
  text-indent: -999px;
}

.title-headLogin{
   position: absolute;
   top: 122px;
   color: white;
   z-index:2;
   width: 40px;
   left: 26px;
   font-size: 46px;
}

.enter-id-password{
  font-size: 16px;
  color: #6C757D;
  width: 84%;
}

  .input-group {
      position: relative;
      width: 90%;
    }

   .input-group .input:focus {
    border-color: var(--font-color);
  }

   .input-group .input:focus {
    border-color: var(--font-color);
  }

   .input-label {
    position: absolute;
    left: 18px;
    top: 38px;
    color: #80B9F1;
    border-radius: 3px;
  }

    .input:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  
   .input:focus ~ .input-label,
  .input:valid ~ .input-label {
    top: -9px;
    left: 10px;
    color: white;
    font-size: 13px;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s ease-out;
    background-color: var(--secondary-color);
    padding: 3px;
  }

   .showing-password {
    position: absolute;
    color: var(--secondary-color);
    left: 89%;
    top: 35px;
    width: 20px;
  }




  
.login-input{
    width: 100%;
    height: 60px;
    background-color: var(--input-bg);
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    margin-top: 1rem;
}


.register-buttons {
    width: 350px;
}

.button-register-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 3.4rem;
}

.buttonSubmit-login{
   width:64px;
    height: 64px;
    margin: 0 .4rem;
    letter-spacing: 1px;
    color: var(--button);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #0074E4; 
}



.register-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.7rem;
    position: relative;
    top: 7rem;
}

.signup-label,.forget-password{
  font-size: 18px;
  position: relative;
}

.forget-password{
  margin-right:34px;
  
}


.signup-label::after {
    content: '';
    position: absolute;
    width: 78px;
    height: 9px;
    background-color: #80B9F1;
    left: -2px;
    top: 18px;
}


 .forget-password::after {
    content: '';
    position: absolute;
    width: 151px;
    height: 9px;
    background-color: #E5F1FC;
    left: 0px;
    top: 16px;
}




@media (max-width: 376px) {
.top-circle {
    transform: translateX(-50%);
    width: 248px;
    height: 248px;
    top: -174px;
}

.big-circle {
    width: 460px;
    height: 460px;
    top: -240px;
    left: 50%;
    transform: translateX(-50%);
  }


  .title-headLogin {
    top: 104px;
    left: 52px;
    font-size: 28px;
}

.down-circle {
    width: 298px;
    height: 298px;
    top: -54px;
    transform: translateX(60%);
}


.register-inputsLogin {
    width: 100%;
    max-width: 340px;
}

.button-register-box {
    justify-content: space-around;
    top: 2.4rem;
}

.register-login-box {
    gap: 3.7rem;
    top: 6rem;
}

.signup-label, .forget-password {
    font-size: 14px;
}

.forget-password::after {
    width: 114px;
}

.signup-label::after {
    width: 56px;
    height: 7px;
}
}


@media (max-width: 280px) {
.top-circle {
    transform: translateX(-50%);
    width: 248px;
    height: 248px;
    top: -174px;
}

.big-circle {
    width: 460px;
    height: 460px;
    top: -240px;
    left: 50%;
    transform: translateX(-50%);
  }


  .title-headLogin {
    top: 104px;
    left: 52px;
    font-size: 28px;
}

.down-circle {
    width: 298px;
    height: 298px;
    top: -54px;
    transform: translateX(60%);
}


.register-inputsLogin {
    width: 100%;
    max-width: 340px;
}

.button-register-box {
    justify-content: space-evenly;
    top: 2.4rem
}

.register-login-box {
    gap: 1.7rem;
    top: 4rem;
}

.signup-label, .forget-password {
    font-size: 14px;
}

.forget-password::after {
    width: 114px;
}

.signup-label::after {
    width: 56px;
    height: 7px;
}


.enter-id-password {
    width: 75%;
}


.input-group {
    position: relative;
    width: 76%;
}
}

.loader-overlay {
  position: fixed;       /* cover the whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.35); /* semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;         /* above everything */
}


@media (min-width: 768px) {
.top-circle {
    position: absolute;
    width: 398px;
    height: 398px;
    background-color: #80B9F1;
    border-radius: 50%;
    top: -280px;
    transform: translateX(-105%);
    z-index: 3;
}

.big-circle {
    position: absolute;
    width: 1467px;
    height: 901px;
    background-color: #0074E4;
    border-radius: 50%;
    top: -120%;
    left: 63%;
    transform: translateX(-78%);
    z-index: 1;
}
.down-circle {
    position: absolute;
    width: 398px;
    height: 398px;
    background-color: #E5F1FC;
    border-radius: 50%;
    top: -38%;
    transform: translateX(95%);
    z-index: 0;
}

.enter-id-password {
    z-index: 999;
}

.button-register-box {
    top: 1.4rem;
}
.register-login-box {
    top: 3rem;
}
.login-input{
  height: 50px;
}

.input-label {
    top: 32px;
}

.form-wrapper{
    z-index: 999;
}

.title-headLogin {
    font-size: 32px;
}

.title-headLogin{
  text-wrap: nowrap;
}
}