.search-overlay{
    height: 100vh;
    /* overflow-y: auto; */
}
.container-leaderboard{
    margin-top: 1.4rem;
    height: 100vh;
    overflow-y: auto;
}



.settings-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.settings-header h2 {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.back-icon {
  font-size: 1.5rem;
  cursor: pointer;
}



.search-wrapper {
  margin-bottom: 0;
}

.search-wrapper input {
  padding: 0.3rem;
  border-radius: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
}

.filter-bar {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.custom-select {
  position: relative;
  min-width: 150px;
}

.select-header {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  cursor: pointer;
  border: 1px solid #ccc;
}

.dropdown-overlay {
  position: absolute;
  width: 100%;
  background: white;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  top: 110%;
  left: 0;
  z-index: 100;
}

.doctor-list.custom-dropdown li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.doctor-list.custom-dropdown li:hover {
  background-color: #f0f0f0;
}

.lists.selected {
  font-weight: bold;
  color: #0074e4;
}

.search-overlay {
  max-width: 900px;
  /* margin: 0 auto; */
}

