.forgot::after {
    width: 80vw;
    top: -76vw;
    left: 56vw;
}




.paragraphs-box-forgot{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding: 0 1.2rem;
    font-weight: bold;
}

.forgot-register {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 0;
    position: relative;
}

.link-forgot{
    margin-left: 4px;
}


.buttonSubmit-content-or {
   position: relative;
    width: 64px;
    height: 64px;
    margin: 0 0.4rem;
    padding: 15px;
    letter-spacing: 1px;
    color: var(--button);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #0074E4;
    right: -8rem;
    top: 2.7rem;  
  }


@media screen and (max-width: 430px) {
.buttonSubmit-content-or {
    right: -8.7rem;
    top: 4.7rem;
  }

  .forgot::after {
    width: 80vw;
    top: -90vw;
    left: 56vw;
}

    .paragraphs-box-forgot {
        top: -4rem;
    }
 }

 @media screen and (max-width: 376px) {
.buttonSubmit-content-or {
    top: 1.7rem;
    right: -7rem;
  }

    .paragraphs-box-forgot {
        top: -2rem;
    }

    .forgot::after {
    top: -90vw;
    }
 }
@media screen and (max-width: 280px){
    .forgot::after{
        top: -84vw!important; 
    }

    .buttonSubmit-content-or {
    right: -4rem;
  }
}
