.container-superdrprofile {
 position: relative;  
  padding-bottom: 94px; 
  overflow-y: auto;    
  min-height: 100vh;
}

.profile-superdrprofile {
  flex: 1;
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: calc(80px + env(safe-area-inset-bottom));
    overflow-y: auto;    


}

.doctor-name-superdrprofile {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}


.admin-doctor-name{
  font-size: 20px;
}

.imgProfile{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  object-position: top;
}

.section-superdrprofile {
  margin-bottom: 1.5rem;
}

.section-superdrprofile h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.section-superdrprofile ul {
  list-style-type: none;
  padding-left: 1rem;
}

.section-superdrprofile li {
  margin-bottom: 0.3rem;
  color: #555;
}



.drProfile-box {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  gap: 3rem;
  border-radius: 0.75rem;
  max-width: 600px; 
  margin: 0 auto 1.2rem auto;
}

.drProfile-left {

  width: 100px;
  height: 100px;
}

.doctor-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.drProfile-right {
  display: flex;
  flex-direction: column;
}

.rating-stars {
  font-size: 16px;
  color: #0074E4;
  margin-bottom: 0.5rem;
}

.doctor-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.doctor-fields {
  color: #6C757D;
  font-size: 10px;
}

.bookmark-icons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: #888;
}

.rate-btn {
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    width: 63px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.rate-button-span{
  font-size: 16px;
}

.rate-btn:hover {
  background-color: #0056b3;
}



.name-and-bookmark {
  display: flex;
  align-items: center;
  justify-content: space-between; /* pushes bookmark icon to the right */
  margin-bottom: 0.3rem;
}

.doctor-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #171717;
    display: flex;
    align-items: center;
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 5.2rem;
}

.bookmark-button:hover {
  color: #0056b3;
}


.overallRating{
  font-size: 6px;
  margin-left: 8px;
  color: #6C757D;
}

.percentage-text {
  margin-top: 8px;
  font-size: 16px;
  color: #0074E4;
  font-weight: bold;
}


.section-feedback{
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}
.feedback-lists{
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
}

.feedback-id{
  color: #000000;
  font-weight: 700;
}

.feedback-paragraph{
  color: #6C757D;
  font-size: 14px;
  margin-top: 12px;
  font-weight: 700;
}

.lists-of-feedback{
  margin-top: 24px;
  position: relative;
}

.lists-of-feedback:not(:last-child)::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #b1bdc7;
  bottom: -14px;
}


.spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
.drProfile-box{
  margin: 24px 0;
}
  
}