/* @font-face {
  font-family: "Fredoka";
  src: url("../fonts/fredoka.ttf") format("truetype");
} */

body {

  /* background: linear-gradient(to right, rgba(0, 113, 180, 1), rgba(0, 113, 180, 0.5)); */
  margin: 0;
  font-family: "Fredoka", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow: hidden; /* Adjust for content */
   overflow-y: hidden;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {

  --button: #000000;
  --font: #f3abaa;
  --font-color: #0071b4;
  --icons-color: #fe6a58;
  --main-color: #0074e4;
  --text-dark: #222;
  --bg-light: #ffffff;
  --border-color: #ccc;


  --primary-color: #0074e4;
  --secondary-color: #80b9f1;
  --background-color: #f7fbff;
  --input-bg: #E5F1FC;
  --text-color: #333;
  --label-color: #6c757d;
  --error-color: #ff6b6b;
  --input-radius: 12px;
  --transition: all 0.2s ease-out;
}
