src/components/doctorList/doctorList.css
.doctor-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lists {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.doctor-list-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}
